body {
    background-color: whithe;
    margin: 0;
    padding: 0;
}

#global {
    width: 1280px;
    margin: 0px auto;
}

header {
    background-image: url(images/banniere.jpg);
    width: 1280px;
    height: 520px;
    border-radius: 10px;
}

/*menu*/
#menu{
    width: 1280px;
    height: 50px;
    margin: 10px 0;
    position: sticky;
    top:0px;
}

#menu ul{
    border-radius: 10px;
    border: 2px solid black;
    height: 50px;
    background-color: #CCC;
    padding :0px 75px;
    marin: 0;
}