#slideshow{
    position: relative;
    width: 360px;
    height: 360px;
    margin: 20px auto;
    overflow: hidden;
}

@keyframes slider {
    0.0% {left: 0px;}
    12.5% {left: 0px;}
    25.0% {left: -360px;}
    37.5% {left: -360px;}
    50.0% {left: -720px;}
    62.5% {left: -720px;}
    75.0% {left: -1080px;}
    87.5% {left: -1080px;}
    100% {left: -1440px;}
}

#contenu li{
    display: inline;
}

#contenu{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1800px;
    margin: 0px;
    padding: 0px;
    
    animation-name: slider;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}